.menu-container{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-bottom: 15px;
    border:1px solid whitesmoke;
    background-color: #778899;
    font-size: 18px;
    font-weight: bold;
}

.menu-container .menu{
    list-style-type:none;
    margin-right: 20px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding:0;
}

.menu-container .menu .menu-item{
    display: inline-block;
    margin-right: 15px;
    position: relative;
}

.menu-container .menu .menu-item a{
    text-decoration: none;
    color:whitesmoke;
}

.menu-container .menu .menu-item a:active{
    color:black;
}

.badge{
    background-color: whitesmoke;
    color: #778899;
    border-radius: 200%;
    padding: 5px;
    font-size: 12px;
    /* margin-left: 5px; */
    position: absolute;
    top: -15px;
    right: -10px;
}