.btn{
    text-align: center;
    outline: 0;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    box-shadow: 0px 4px 6px 2px slategray;
}

.btn--default{
    border-color: lightslategrey;
    color:lightslategrey;
    font-size: 12px;
    padding: 5px;
    margin:5px;
    border-radius: 5px;
}

.btn--sz2{
    font-size: 14px;
    padding: 10px;
    margin:10px;
}

.btn--sz3{
    font-size: 16px;
    padding: 15px;
    margin:15px;
}

.btn__default{
    background-color: darkgray;
    color:white;
}

.info{
    background-color:whitesmoke;
    color:slategray;
}

.primary{
    background-color: rgb(0, 162, 255);
    color:whitesmoke;
}

.secondary{
    background-color: black;
    color:whitesmoke;
}

.warning{
    background-color: gold;
    color:black
}

.danger{
    background-color: red;
    color:whitesmoke;
}

.font-10px{
    font-size: 10px;
}

.font-12px{
    font-size: 12px;
}

.font-14px{
    font-size:14px;
}

.font-16px{
    font-size: 16px;
}

.font-22px{
    font-size: 22px;
}

.btn__primary{
    background-color: rgb(0, 162, 255);
    color:whitesmoke;
    border-color:whitesmoke;
}

.btn__secondary{
    background-color: black;
    color:whitesmoke;
    border-color:whitesmoke;
}

.btn__danger{
    background-color: red;
    color:whitesmoke;
    border-color:rgb(241, 70, 47);
}

.form-control{
    position: relative;
    margin:20px;
    display: inline-block;
}

.form-control--icons-holder{
    display: inline-block;
    color:white;
    border:0;
    outline: 0;
    border-radius: 10px;
    padding-left: 5px;
    background-color: lightslategrey;
}

.form-control--icon{
    margin-right: 5px;
}

.form-control--label-holder{
    display: inline-block;
    border:0;
    outline: 0;
    border-radius: 10px;
    padding-left: 5px;
}

.form-control--label{
    margin-right: 5px;
    font-size: 16px;
    color:slategray;
    font-weight: 500;
}

.text-box,.selectbox{
    outline: 0;
    border:2px solid lightgrey;
    /* margin:5px; */
    padding:10px;
    box-sizing: content-box;
    color:slategray;
    border-radius: 10px;
}

.text-box:focus,.selectbox:focus{
    border-color:lightblue;
    border-width: 2px;
}

.text-box--material{
    outline: 0;
    border-width: 0;
    border-bottom-color:black;
    border-bottom-style: solid;
    animation: 1s bottomUp;
}

@keyframes bottomUp{
    from{border-bottom-width: 0}
    to{border-bottom-width: 2px}
}

.text-box--material:focus{
    outline: 0;
    border-width: 0;
    border-bottom: 2px solid black;
}

.checkbox{
    width: 25px;
    margin: 20px 100px;
    position: relative;
}

.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
     background: #eee; 
    border:1px solid #ddd;
}

.checkbox label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.checkbox label:hover::after {
    opacity: 0.5;
}

.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.checkbox2 {
    width: 100px;
    height: 30px;
    background: #333;
    margin: 20px 60px;
    border-radius: 50px;
    position: relative;
}

.checkbox2:before {
    content: 'On';
    position: absolute;
    top: 6px;
    left: 13px;
    height: 2px;
    color: rgb(0, 162, 255);;
    font-size: 14px;
}

.checkbox2:after {
    content: 'Off';
    position: absolute;
    top: 6px;
    left: 70px;
    height: 2px;
    color: #fff;
    font-size: 14px;
}

.checkbox2 label {
    display: block;
    width: 52px;
    height: 22px;
    border-radius: 50px;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 12px;
    background: #ddd;
}
.checkbox2 input[type=checkbox]{
    visibility: hidden;
}
.checkbox2 input[type=checkbox]:checked + label {
    left: 40px;
    background: rgb(0, 162, 255);
}

.list-container{
    position: absolute;
    width: 100%;
    margin:0;
    padding: 0;
    display: none;
}

.selectbox:focus + .list-container{
    display: block;
}

.list-container:hover{
    display: block;
}

.list-container--item{
    list-style-type: none;
    background-color:whitesmoke;
    padding:5px;
    border:1px solid lightgrey;
    box-sizing: content-box;
    color:slategray;
    cursor: pointer;
    opacity:0.7;
    font-weight: 400;
}

.list-container--item:hover{
    opacity: 1;
    font-weight: 600;
}